
body{
    background-image:url(../img/1.jpg);
}
h1 {
    font-family: fantasy;
    color:red;
    font-size: 4em;
    border: 1px solid red;
    text-align: center;
}
label{
    color: #999;
    display:inline-block;
    width:10em;
}
ul{
    margin: 2em;
}
li {
    color: #3d757a;
}
a {
    color: red;
}
a:hover {
    color: yellow;
}
a:visited{
    color:#362;
}
label.info{
    font-style: italic;
}
label.address{
    font-weight: bold;
}
