
body{
    background-image:url(../img/1.jpg);

}
h1 {
    font-family: sans-serif;
    color:red;
    font-size: 5vw;
    border: 2px solid red;
    box-shadow: 10px 10px 5px #656565;
    border-radius: 15px 50px 30px 5px;
    text-align: center;
    background: linear-gradient(to right, red , yellow);

}
label{
    color: #999;
    display:inline-block;
    width:10em;
}
ul{
    text-align: left;
    line-height: 2.0;
}
li {
    color: #3d757a;
}
a {
    color: red;
}
a:hover {
    color: yellow;
}
a:visited{
    color:#362;
}
label.info{
    font-style: italic;
}
label.address{
    font-weight: bold;
}
